<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.runninglog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/default_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/default_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/blueTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EnterRun" />
        <activity android:name=".ViewRuns" />
        <activity android:name=".SettingsScreen" />
        <activity android:name=".StravaScreen" />
        <activity android:name=".StravaGetAccess" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="running_log_app.com" />
            </intent-filter>
        </activity>
        <activity android:name=".StravaVerified" />
        <activity android:name=".WeeklyOverview" />
        <activity android:name=".EditRun" />
        <activity android:name=".MonthlyOverview" />
    </application>

</manifest>